<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{ site.name }}</title>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <meta name="author" content="{{ site.name }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="canonical" href="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">



</head>



<body>
    <table
        style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr style="padding:0px">
            <td style="padding:0px">
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr style="padding:0px">
                        <td style="padding:2.5%;width:60%;vertical-align:middle">
                            <h1>
                                Andrew (Andy) Ehrenberg
                            </h1>
                            <p> 
                                I am a Masters student in Machine Learning at <a target='_blank' href=https://www.ucl.ac.uk/computer-science/study/postgraduate-taught/machine-learning-msc> UCL</a> with an interest in improving
                                generalization and exploration efficiency of embodied agents. In particular, I'm keen on (Meta) Reinforcement Learning and embodied agent based models of language learning that enable language grounding, and the formation
                                of reliable beliefs about tasks and environments that allow for effective exploration. I envision that the use of language and knowledge will improve the zero-shot generalization capacities of agents,
                                which will allow for deployment in real-world scenarios.
                            </p>
                            <p>
                                In 2020, I received my Bachelors in Statistics (with a Math Minor) at UCLA, where I took courses on Deep Learning, Machine Learning, Probability Theory, Monte Carlo Methods, and Programming. I have gained experience
                                in Computer Vision research, in which I developed software for eye-gaze tracking, researched generative models for image colorization, worked with a team on models for DeepFake detection, and experimented with 
                                implementations of Imitation Learning.
                            </p>
                            <p>
                                Aside from my academic interests, I competed for the NCAA Division I Track and Field and Cross Country teams at UCLA, enjoy writing/playing music, and spend lots of time climbing, backpacking, and cycling.
                            </p>
                            <p style="text-align:center">
                                <a target="_blank" href="mailto:andyehrenberg@gmail.com"> Email</a> &nbsp;/&nbsp;
                                <a target="_blank"  href="https://github.com/andyehrenberg">GitHub</a> &nbsp;/&nbsp;
                                <a target="_blank" href="images/CV.pdf"> Resume</a> &nbsp;/&nbsp;
                                <a target="_blank"  href="https://www.linkedin.com/in/andrewehrenberg"> LinkedIn </a>
                            </p>
                        </td>
                        <td style="padding:2.5%;width:40%;max-width:40%">
                            <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_5322.jpeg">
                        </td>
                    </tr>
                </table>

                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:2.5%;width:100%;vertical-align:middle">
                            <h2>AI Research</h2>
                            <p>
                                I'm interested in RL informed by natural language, Multi-Agent Reinforcement Learning, and Meta RL to improve exploration, generalization, zero-shot coordination, emergent communication, and long-horizon robotic planning.
                            </p>
                        </td>
                    </tr>
                </table>
                
                <!-- /
                
                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

                    {% for post in site.posts %}
                    {% for cat in post.categories %}
                    {% if cat == 'research' %}
                    <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                            <img src="{{post.image}}" alt="project image"
                                style="width:auto; height:auto; max-width:100%;" />
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle">
                            <h3><a href={{post.url}} >{{post.title}}</a></h3>
                            <br>
                            {{post.authors}}

                            <br>
                            <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                            <br>
                            {% if post.arxiv %}
                            <a target='_blank' href="{{post.arxiv}}">paper</a> 
                            {% endif %}
                            {% if post.video %}
                            / <a href="{{post.video}}">video</a> 
                            {% endif %}
                            {% if post.code %}
                            / <a href="{{post.code}}">code</a>
                        
                            {% endif %}
                            
                            {% if post.poster %}
                            <a href="{{post.poster}}">poster</a> /
                            {% endif %}
                            {% if post.slides %}
                            <a href="{{post.slides}}">slides</a> /
                            {% endif %}
                            
                            {{ post.excerpt }}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </table>-->

                <table
                    style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                    <tr>
                        <td style="padding:0px">
                            <br>
                            <p style="text-align:center;font-size:small;">
                                Design from <a target="_blank" style="font-size:small;" href="https://mishalaskin.github.io/">this</a>, <a target="_blank" style="font-size:small;" href="https://people.eecs.berkeley.edu/~pathak/">this</a>, and <a target="_blank" style="font-size:small;" href="https://jonbarron.info">this</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
</body>

</html>
